# Dependências do Node.js
node_modules/

# Arquivos de log
*.log

# Diretórios de build
dist/
build/

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos específicos do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
